<div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">User Registration</h4>
      <p class="card-category">Add User to the System

      </p>
    </div>
    <div class="card-body">
      <form>

        <div class="row">


          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              
              <input matInput placeholder="Name" type="text" [(ngModel)]='user.name' name="firstName">
            </mat-form-field>
          </div>

          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" type="text" [(ngModel)]='user.username' name="userName">
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" type="text" [(ngModel)]='user.email' name="email">
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="text" name="password"  [(ngModel)]='user.password'>
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Department" type="text" [(ngModel)]='user.dept' name="dept">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Type" type="text" name="Type"  [(ngModel)]='user.type'>
            </mat-form-field>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="cancel()">Clear</button>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addUser()">Register</button>
          
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
